<h1>Main App Component</h1>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <label>
    Log In Name: 
    <input type="text" formControlName="username">
  </label>
  <label>
    Password:
    <input type="password" formControlName="password">
  </label>
  <button type="submit">Log In</button>
</form>

<nav>
  <a routerLink="/" routerLinkActive="active">Main component</a> | 
  <a routerLink="/aaa" routerLinkActive="active">AAA component</a> | 
  <a routerLink="/bbb" routerLinkActive="active">BBB component</a>
</nav>

<router-outlet></router-outlet>