<p>Lazy loaded component BBB</p>

<div class="test-sass">
    <div class="tooltip">
        <div class="tooltip-text">
            <span class="tooltip-amount">$167</span>
            <span class="tooltip-leftover"> still needed for this project</span>
        </div>
    </div>
    
    <div class="donation">
        <div class="progress-bar">
            <div class="progress-bar-done"></div>
            <div class="progress-bar-todo"></div>
        </div>
        <div class="donation-main">
            <div class="expiration">
                <span class="expiration-highlighted">Only 3 days left</span>
                <span class="expiration-normal"> to fund this project</span>
            </div>

            <div class="description">
                <span>Join the <span class="description-highlighted">42</span> other donors who have already supported this project. Every dollar helps.</span>
            </div>
    
            <div class="donation-row">
                <div class="donation-amount">
                    <span class="currency">$</span>
                    <span class="amount">50</span>
                </div>
                <div class="actions-give">
                    Give Now
                </div>
            </div>

            <div class="question-link">
                Why give $50?
            </div>
        </div>
    </div>

    <div class="actions">
        <div class="actions-save actions-button">
            <span>Save for later</span>
        </div>
        <div class="actions-tell actions-button">
            <span>Tell your friends</span>
        </div>
    </div>
</div>